<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appointment">
      <h2 data-cy="appointmentDetailsHeading"><span>Appointment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appointment.id }}</span>
        </dd>
        <dt><span>Reason</span></dt>
        <dd>
          <span>{{ appointment.reason }}</span>
        </dd>
        <dt><span>Insurance Change</span></dt>
        <dd>
          <span>{{ appointment.insuranceChange }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ appointment.phoneNumber }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/appointment', appointment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
